# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.settings
/renren-web/.settings
/renren-shiro/.project
/renren-shiro/.settings
/renren-shiro/.classpath
/renren-shiro/.gitignore
/renren-schedule/.project
/renren-schedule/.settings
/renren-schedule/.classpath
/renren-schedule/.gitignore
/renren-gen/.project
/renren-gen/.settings
/renren-gen/.classpath
/renren-gen/.gitignore
/renren-common/.project
/renren-common/.settings
/renren-common/.classpath
/renren-common/.gitignore
/renren-api/.project
/renren-api/.settings
/renren-api/.classpath
/renren-api/.gitignore
/renren-web/.classpath
/renren-web/.gitignore
/renren-web/.project
/.project
