<!DOCTYPE html>
<html>
<head>
<title>报表推送任务配置表</title>
#parse("sys/header.html")

<style>
th {
	text-align: right
}
</style>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<table border="0">
			<tr>
				<td style="padding: 5px;padding-bottom: 15px;"><label>任务名称：</<label></td>
				<td style="padding: 5px;padding-bottom: 15px;">
					<input type="text" style="width: 200px;" class="form-control" id="task_name_cond" placeholder="任务名称"/>
				</td>
				<td style="padding: 5px;padding-bottom: 15px;">
					#if($shiro.hasPermission("schedulereporttask:save"))
					<a class="btn btn-primary" @click="reload"><i class="fa fa-search"></i>&nbsp;查询</a>
					#end
				</td>
				<td style="padding: 5px;padding-bottom: 15px;">
					#if($shiro.hasPermission("schedulereporttask:update"))
					<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
					#end
				</td>
				<td style="padding: 5px;padding-bottom: 15px;">
					#if($shiro.hasPermission("schedulereporttask:delete"))
					<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
					#end
				</td>
			</tr>
			#if($shiro.hasPermission("schedulereporttasklog:list"))
			<a class="btn btn-danger" style="float:right;" href="schedule_report_task_log.html">日志列表</a>
			#end
		</table>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">任务名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="scheduleReportTask.taskName" placeholder="任务名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">发送方式</div>
			   	<div class="col-sm-10">
			    	<select v-model="scheduleReportTask.sendType" style="height: 30px;width: 100px;">
						<option selected="selected" value="email">邮件</option>
					</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">收件人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="scheduleReportTask.receiveEmail" placeholder="收件人,多个收件人用逗号隔开"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">抄送人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="scheduleReportTask.chaosongEmail" placeholder="抄送人,多个抄送人用逗号隔开"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">调度频率</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control"  v-model="scheduleReportTask.sendRate" placeholder="* * * * * ?"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="scheduleReportTask.description" placeholder="备注"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
<script src="${rc.contextPath}/js/sys/util.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/js/schedule/schedulereporttask.js?_${date.systemTime}"></script>

</body>
</html>