<!DOCTYPE html>
<html>
<head>
<title>VIP列表</title>
#parse("sys/header.html")
<style>
       .search-label {
           float: left;
           line-height: 34px;
           height: 34px;
       }
</style>
</head>
<body>
<div id="vip-list" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<!-- <a class="btn btn-primary" id="upload" onclick="assign_config()"><i class="fa fa-pencil-square-o"></i>&nbsp;指派</a> -->
			<a class="btn btn-primary" id="upload" @click="assign_config()"><i class="fa fa-pencil-square-o"></i>&nbsp;指派</a>
			<a class="btn btn-primary" id="btn_exports" @click="exportExcel"><i class="fa fa-file-excel-o"></i>&nbsp;导出</a>
		</div>
		<div class="grid-btn">
			<span class="control-label search-label">用户ID</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.user_id" placeholder="用户ID">
			</div>
			<span class="control-label search-label">存管ID</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.dep_user_id" placeholder="存管ID">
			</div>
			<span class="control-label search-label">备注</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.remark" placeholder="备注">
			</div>
			<span class="control-label search-label">通话备忘</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.comm_remark" placeholder="通话备忘">
			</div>
			<span class="control-label search-label">通话次数</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.call_count" placeholder="通话次数">
			</div>
			<span class="control-label search-label">等级划分</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.level" placeholder="等级划分">
			</div>
			<span class="control-label search-label">所属人</span>
			<div class="form-group col-sm-1" >
				<select v-model="q.belongs_to" class="form-control">  
					<option value="">全部</option>
				  	<option v-for="bl in belongs" v-bind:value="bl.id">  
   						{{ bl.real_name }}  
 						</option>  
				</select>
			</div>
			<span class="control-label search-label">价值分类</span>
			<div class="form-group col-sm-1" >
				<select v-model="q.value_class" class="form-control">  
					<option value="">全部</option>
				  	<option v-for="vc in valueClass" v-bind:value="vc.id">  
   						{{ vc.name }}  
 						</option>  
				</select>
			</div>
			<span class="control-label search-label">标签</span>
			<div class="form-group col-sm-1" >
				<select v-model="q.tags" class="form-control">  
					<option value="">全部</option>
				  	<option v-for="t in tags" v-bind:value="t">  
   						{{ t.name }}  
 						</option>  
				</select>
			</div>
			<span class="control-label search-label">VIP筛选</span>
			<div class="form-group col-sm-1" >
				<select id="vip_select" class="form-control" >
					<option value ="">全部</option>
					<option value ="1">当前是VIP</option>
					<option value ="2">流失VIP</option>
					<option value ="3">预警用户</option>
					<option value ="4">明日回款用户</option>
				</select>
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<a class="btn btn-primary" @click="view"><i class="fa fa-search"></i>&nbsp;查看</a>
			<a class="btn btn-primary" @click="addCall"><i class="fa fa-plus"></i>&nbsp;添加通话</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
</div>

<div id="vip-fa-list" v-cloak>
	<div class="modal fade" id="assign_dlg" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel"><font style="font-weight: bold;">指派弹框</font></h4>
				</div>
				<div class="modal-body" style="height: 320px;">
					<span style="margin-bottom: -15px;" id='selCount'></span><br/>
					<table id="jqGrid_config"></table>
	   			 	<div id="jqGridPager_config"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="saveOrUpdate()">确定</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var currSelRow = {};

function initGrid() {
    $("#jqGrid").jqGrid({
        url: '../crm/vip/list',
        datatype: "json",
        colModel: [			
			{ label: 'ID', name: 'id', width: 25, key: true,hidden: true },
			{ label: '用户ID', name: 'user_id', width: 80, key: false },
			{ label: '存管ID', name: 'dep_user_id', width: 80},
			{ label: '用户名', name: 'user_name', width: 80 },
			{ label: '姓名', name: 'real_name', width: 80 },
			{ label: '性别', name: 'gender', width: 80,formatter: 
				function(value, options, row){
					return value == 0 ? '男': '女';
				}
			},
			{ label: '电话号码', name: 'phone', width: 90 },
			
			{ label: '通话次数', name: 'call_count', width: 80,formatter: function(value, options, row){
				return !value ? 0 : value;
			} },
			{ label: '分配前总代收(元)', name: 'pre_account_wait', width: 80,formatter: function(value, options, row){
				return value/100;
			}},
			{ label: '当前总代收(元)', name: 'cur_account_wait', width: 80,formatter: function(value, options, row){
				return value/100;
			}},
			{ label: '代收差额', name: 'account_balance', width: 80,formatter: function(value, options, row){
				return (row.cur_account_wait-row.pre_account_wait)/100;
			}},
			{ label: '代收增比(%)', name: 'account_wait_rate', width: 80,formatter: function(value, options, row){
				return !row.belong_real_name ? 0 : ((row.cur_account_wait-row.pre_account_wait)/row.pre_account_wait)*100+"%";
			}},
			{ label: '账户余额(元)', name: 'account_balance', width: 80,formatter: function(value, options, row){
				return value/100;
			}},
			{ label: '等级划分', name: 'level', width: 80 },
			{ label: '价值分类', name: 'valueClass', width: 80 },
			{ label: '标签', name: 'tags', width: 80 },
			{ label: '所属人', name: 'belong_real_name', width: 80 },
			{ label: '备忘', name: 'remark', width: 80},
			{ label: '沟通备忘', name: 'comm_remark', width: 80}
        ],
		viewrecords: true,
        height: 385,
        rowNum: 30,
		rowList : [10,30,50],
        rownumbers: true, 
        rownumWidth: 25, 
        autowidth:true,
        multiselect: true,
        pager: "#jqGridPager",
        jsonReader : {
            root: "page.list",
            page: "page.currPage",
            total: "page.totalPage",
            records: "page.totalCount"
        },
        prmNames : {
            page:"page", 
            rows:"limit", 
            order: "order"
        },
        onSelectRow: function(rowId){
        	currSelRow = $("#jqGrid").jqGrid('getRowData',rowId);
    	},
        gridComplete:function(){
        }
    });
};

function initFAGrid() {
    $("#jqGrid_config").jqGrid({
        url: '../crm/vip/query_financial_advisor',
        datatype: "json",
        colModel: [			
			{ label: 'belongs_to', name: 'belongs_to', width: 25, key: true,hidden: true },
			{ label: '理财顾问姓名', name: 'real_name', width: 150 },
			{ label: '已管人数(有效人数)', name: 'belong_count', width: 300,formatter: 
				function(value, options, row) {
				console.log(row);
				return "已管" + row.belongs_count + "人 (当前有效" + row.youxiao_count + "人)";
			}
		}
        ],
		viewrecords: true,
        height: '100%',
        rowNum: 5,
		rowList : [5,10],
        rownumbers: true, 
        rownumWidth: 25, 
        autowidth:true,
        multiselect: false,
        pager: "#jqGridPager_config",
        jsonReader : {
            root: "page.list",
            page: "page.currPage",
            total: "page.totalPage",
            records: "page.totalCount"
        },
        prmNames : {
            page:"page", 
            rows:"limit", 
            order: "order"
        },
        onSelectRow: function(rowId){
    	}
    });
}

var vm1 = new Vue({
	el:'#vip-list',
	data:{
		q:{
			user_id: null,
			dep_user_id: null,
			remark: null,
			comm_remark: null,
			call_count: null,
			level: null,
			belongs_to: null,
			value_class: null,
			tags: null,
			vip_select: null
		},
		showList: true,
		statusList:[],
		belongs:[],
		valueClass:[],
		tags:[]
	},
	methods: {
		query: function () {
			vm1.reload();
		},
		add: function(){
			//获取被选中的行
			var row = $("#jqGrid").jqGrid('getGridParam','selrow');
			if(!row){
				alert("请选中一行后再进行操作");
				return;
			}
			var rowdata = $("#jqGrid").jqGrid('getRowData',row);
			parent.addTab("新增通话记录","./crm/call_record_add.html?user_id="+rowdata.user_id+"&id="+rowdata.id,"");
		},
		getBelongs: function(){
			$.get("../crm/config/query_financial_advisor", function(r){
				vm1.belongs = r.list;
			});
		},
		getStatusList: function(){
			$.get("../crm/config/value_class_list?type=3", function(r){
				console.log(r.list);
				vm1.statusList = r.list;
				initGrid();
			});
		},
		getValueClass: function(){
			$.get("../crm/config/value_class_list?type=1", function(r){
				vm1.valueClass = r.list;
			});
		},
		getTags: function() {
			$.get("../crm/config/value_class_list?type=2", function(r){
				vm1.tags = r.list;
			});
		},
		assign: function() {// 指派
			var row = $("#jqGrid").jqGrid('getGridParam','selrow');
			var rowdata = $("#jqGrid").jqGrid('getRowData',row);
			console.log(rowdata);
			if(!row){
				alert("请先选择需要指派的用户");
				return;
			}
			assignDlg();
		},
		exportExcel: function() {// 导出
			
		},
		view: function(){// 查看VIP详情
			var row = $("#jqGrid").jqGrid('getGridParam','selrow');
			if(!row) {
				alert("请选中一行后再进行操作");
				return;
			}
			var rowdata = $("#jqGrid").jqGrid('getRowData',row);
			console.log(rowdata);
			parent.addTab("VIP详情","./crm/vip_detail.html?user_id=" + rowdata.user_id,"");
		},
		addCall: function(){// 添加通话
			$.get("../crm/config/value_class_list?type=2", function(r){
			});
		},
		reload: function (event) {
			vm1.showList = true;
			var page = $("#jqGrid").jqGrid('getGridParam','page');
			$("#jqGrid").jqGrid('setGridParam',{ 
                postData:getParams(),
                page:page
            }).trigger("reloadGrid");
		}
	}
});

	var vm_fa = new Vue({
		el:'#vip-fa-list',
		data:{
			q:{
			},
			showList: true,
		},
		methods: {
			fa_query: function () {
				if(!currSelRow.user_id){
					alert('请先选择要指派的VIP用户');
					return ;
				}
				initFAGrid();// 初始化理财顾问信息
				$("#selCount").text("已选2个用户，请选择需要指派的理财顾问");
				$("#jqGridPager_config_left").width("1px");
				$('#assign_dlg').modal('show');
				vm_fa.reload();
			},
			reload: function (event) {
				vm1.showList = true;
				var page = $("#jqGrid_config").jqGrid('getGridParam','page');
				$("#jqGrid_config").jqGrid('setGridParam',{ 
	                postData:{},
	                page:page
	            }).trigger("reloadGrid");
			}
		}
	});

	// 保存指派投资顾问
	function saveOrUpdate() {
		
	}

	function assign_config() {
		vm_fa.fa_query();
	}

	function assignDlg() {

	}

	function getParams() {
		var params = {
        		'user_id': vm1.q.user_id,
        		'dep_user_id':vm1.q.dep_user_id,
        		'remark':vm1.q.remark,
        		'comm_remark':vm1.q.comm_remark,
        		'call_count':vm1.q.call_count,
        		'level':vm1.q.level,
        		'belongs_to':vm1.q.belongs_to,
        		'value_class':vm1.q.value_class,
        		'tags':vm1.q.tags,
        		'vip_select':vm1.q.vip_select
            };
		return params;
	}

	// 导出
	function initExportFunction(){
		$('#btn_exports').click(function(){
			var params = getParams();
				executePost('../channel/assess/exportExcel', {'params' : JSON.stringify(params)});
		});
	}  
	
	$(document).ready(function(){
		vm1.getBelongs();
		vm1.getValueClass();
		vm1.getTags();
		vm1.getStatusList();
	});
</script>
</body>
</html>