<!DOCTYPE html>
<html>
<head>
<title>VIP列表</title>
#parse("sys/header.html")
<style>
       .search-label {
           float: left;
           line-height: 34px;
           height: 34px;
       }
       .inputClass2 {
			height: 30px;
			width: 200px;
			border: 1px solid #ccc;
			border-radius: 4px;
		 	padding-left: 6px; 
			vertical-align: middle;
		}
</style>
</head>
<body>
<div id="crm-call-record" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<span class="control-label search-label">用户ID</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.user_id" placeholder="用户ID">
			</div>
			<span class="control-label search-label">存管ID</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.dep_user_id" placeholder="存管ID">
			</div>
			<span class="control-label search-label">备注</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.remark" placeholder="备注">
			</div>
			<span class="control-label search-label">通话备忘</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.comm_remark" placeholder="通话备忘">
			</div>
			<span class="control-label search-label">通话次数</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.call_count" placeholder="通话次数">
			</div>
			<span class="control-label search-label">等级划分</span>
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.level" placeholder="等级划分">
			</div>
			<span class="control-label search-label">所属人</span>
			<div class="form-group col-sm-1" >
				<select v-model="q.belongs_to" class="form-control">  
				  	<option v-for="bl in belongs" v-bind:value="bl.id">  
   						{{ bl.real_name }}  
 						</option>  
				</select>
			</div>
			<span class="control-label search-label">价值分类</span>
			<div class="form-group col-sm-1" >
				<select v-model="q.value_class" class="form-control">  
				  	<option v-for="vc in valueClass" v-bind:value="vc.id">  
   						{{ vc.name }}  
 						</option>  
				</select>
			</div>
			<span class="control-label search-label">标签</span>
			<div class="form-group col-sm-1" >
				<select v-model="q.tags" class="form-control">  
				  	<option v-for="t in tags" v-bind:value="t">  
   						{{ t.name }}  
 						</option>  
				</select>
			</div>
			<span class="control-label search-label">VIP筛选</span>
			<div class="form-group col-sm-1" >
				<select id="vip_select" class="form-control" >
					<option value ="">全部</option>
					<option value ="1">当前是VIP</option>
					<option value ="2">流失VIP</option>
					<option value ="3">预警用户</option>
					<option value ="4">明日回款用户</option>
				</select>
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			#if($shiro.hasPermission("crm:vip:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
</div>

<script type="text/javascript">
//时间格式
function initDatetimepicker(){
	$(".form_datetime_2").datetimepicker({
	    format: 'yyyy-mm-dd',
	    minView:'month',
	    language: 'zh-CN',
	    autoclose:true,
	    todayBtn : true,
	    setStartDate:new Date()
	});
}

function initGrid() {
    $("#jqGrid").jqGrid({
        url: '../crm/vip/list',
        datatype: "json",
        colModel: [			
			{ label: 'ID', name: 'id', width: 25, key: true,hidden: true },
			{ label: '用户ID', name: 'user_id', width: 80, key: false },
			{ label: '存管ID', name: 'dep_user_id', width: 80},
			{ label: '用户名', name: 'user_name', width: 80 },
			{ label: '姓名', name: 'real_name', width: 80 },
			{ label: '性别', name: 'gender', width: 80,formatter: 
				function(value, options, row){
					return value == 0 ? '男': '女';
				}
			},
			{ label: '电话号码', name: 'phone', width: 90 },
			
			{ label: '通话次数', name: 'recover_account_wait', width: 80 },
			{ label: '分配前总代收', name: 'recover_account_wait', width: 80 },
			{ label: '当前总代收', name: 'recover_account_wait', width: 80 },
			{ label: '代收差额', name: 'account_balance', width: 80 },
			{ label: '代收增比', name: 'account_balance', width: 80 },
			{ label: '账户余额(元)', name: 'account_balance', width: 80 },
			{ label: '等级划分', name: 'level', width: 80 },
			{ label: '价值分类', name: 'valueClass', width: 80 },
			{ label: '标签', name: 'belong_real_name', width: 80 },
			{ label: '所属人', name: 'belong_real_name', width: 80 },
			{ label: '备忘', name: 'remark', width: 80},
			{ label: '沟通备忘', name: 'remark', width: 80}
        ],
		viewrecords: true,
        height: 385,
        rowNum: 10,
		rowList : [10,30,50],
        rownumbers: true, 
        rownumWidth: 25, 
        autowidth:true,
        multiselect: false,
        pager: "#jqGridPager",
        jsonReader : {
            root: "page.list",
            page: "page.currPage",
            total: "page.totalPage",
            records: "page.totalCount"
        },
        prmNames : {
            page:"page", 
            rows:"limit", 
            order: "order"
        },
        gridComplete:function(){
        	//隐藏grid底部滚动条
        	$("#jqGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
        }
    });
};

var vm1 = new Vue({
	el:'#crm-call-record',
	data:{
		q:{
			user_id: null,
			dep_user_id: null,
			remark: null,
			comm_remark: null,
			comm_count: null,
			level: null,
			belongs_to: null,
			value_class: null,
			tags: null,
			vip_select: null
		},
		showList: true,
		statusList:[],
		belongs:[],
		valueClass:[],
		tags:[],
		call_time_type:[{id:1,value:'过去60天'},{id:2,value:'过去30天'},{id:3,value:'过去7天'},{id:4,value:'自选'}]
	},
	methods: {
		query: function () {
			vm1.reload();
		},
		add: function(){
			//获取被选中的行
			var row = $("#jqGrid").jqGrid('getGridParam','selrow');
			if(!row){
				alert("请选中一行后再进行操作");
				return;
			}
			console.log(row);
			var rowdata = $("#jqGrid").jqGrid('getRowData',row);
			console.log(rowdata);
			parent.addTab("新增通话记录","./crm/call_record_add.html?user_id="+rowdata.user_id+"&id="+rowdata.id,"");
		},
		getBelongs: function(){
			$.get("../crm/config/query_financial_advisor", function(r){
				vm1.belongs = r.list;
				//console.log(r.list);
			});
		},
		getStatusList: function(){
			$.get("../crm/config/value_class_list?type=3", function(r){
				vm1.statusList = r.list;
				initGrid();
				initDatetimepicker();
				console.log(r.list);
			});
		},
		getValueClass: function(){
			$.get("../crm/config/value_class_list?type=1", function(r){
				vm1.valueClass = r.list;
				console.log(r.list);
				/* initGrid();
				initDatetimepicker(); */
			});
		},
		getTags: function(){
			$.get("../crm/config/value_class_list?type=2", function(r){
				vm1.tags = r.list;
				console.log(r.list);
				/* initGrid();
				initDatetimepicker(); */
			});
		},
		change_call_time_type: function(call_time_type){
			if(call_time_type == 4){
				$("#div_call_time_s").show();
				$("#div_call_time_e").show();
			}else {
				$("#div_call_time_s").hide();
				vm1.q.call_time_s = null;
				$("#div_call_time_e").hide();
				vm1.q.call_time_e = null;
			}
		},
		reload: function (event) {
			vm1.showList = true;
			var page = $("#jqGrid").jqGrid('getGridParam','page');
			$("#jqGrid").jqGrid('setGridParam',{ 
                postData:{
               		'user_id': vm1.q.user_id,
               		'dep_user_id':vm1.q.dep_user_id,
               		'belongs_to':vm1.q.belongs_to,
               		'value_class':vm1.q.value_class,
               		'tags':vm1.q.tags,
               		'status':vm1.q.status,
               		'call_time_type':vm1.q.call_time_type,
               		'call_time_s':$("#call_time_s").val(),
               		'call_time_e':$("#call_time_e").val()
                },
                page:page
            }).trigger("reloadGrid");
		}
	}
});

$(document).ready(function(){
	vm1.getBelongs();
	vm1.getValueClass();
	vm1.getTags();
	vm1.getStatusList();
});
</script>
</body>
</html>