<!DOCTYPE html>
<html>
<head>
<title>用户激活情况表</title>
#parse("sys/header.html")
</head>
<style>
th {
	text-align: right
}
.mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.03;
	filter: alpha(opacity = 30)
}
.inputClassMin2 {
	height: 28px;
	width: 98px;
	border: 1px solid #ccc;
	border-radius: 4px;
 	padding-left: 6px; 
	vertical-align: middle;
}
.formClass2 {
	height: 28px;
	width: 145px;
	border: 1px solid #ccc;
	border-radius: 4px;
 	padding-left: 6px; 
	vertical-align: middle;
}
</style>
<body>
<!-- <div id="mask" class="mask" style=""></div> -->
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
				<table border="0">
					<tr>
						<label>注册人数：</label><font id="register_user_num">-</font>
						<label style="padding: 7px;"></label>
						<label>投资人数：</label><font id="invest_user_num">-</font>
						<label style="padding: 7px;"></label>
						<label>首投转化率：</label><font id="first_invest_rate">-</font>
						<label style="padding: 7px;"></label>
						<label>累计投资金额：</label><font id="total_invest_amount">-</font>
						<label style="padding: 7px;"></label>
						<label>首次投资金额：</label><font id="first_invest_amount">-</font>
						<label style="padding: 7px;"></label>
						<label>债转投资金额：</label><font id="cre_invest_amount">-</font>
						<label style="padding: 7px;"></label>
						<label>复投人数：</label><font id="multi_invest_user_num">-</font>
						<label style="padding: 7px;"></label>
						<label>复投金额：</label><font id="multi_invest_amount">-</font>
						<label style="padding: 7px;"></label>
						<label>复投率：</label><font id="multi_invest_rate">-</font>
					</tr>
					<hr style="margin:1px;height:1px;border:1px;background-color:#D5D5D5;color:#D5D5D5;"/>
					<tr height="5px;"></tr>
					
					<tr>
						<td><label>实名：</label></td>
						<td>
							<select id="if_real_name" class="inputClassMin2">
							 	<option value ="">全部</option>
							 	<option value ="1">是</option>
							  	<option value ="0">否</option>
							</select>
						</td>
						<td></td>
						<td>
							<label>绑卡：</label>
							<select id="if_bang_card" class="inputClassMin2">
							 	<option value ="">全部</option>
							 	<option value ="1">是</option>
							  	<option value ="0">否</option>
							</select>
													
						</td>
						<td><label>操作平台：</label></td>
						<td>
							
							<select id="registerFrom" class="inputClassMin2">
							 	<option value ="">全部</option>
							 	<option value ="0">移动端无法区分</option>
							 	<option value ="1">PC</option>
							  	<option value ="2">IOS</option>
							  	<option value ="3">Android</option>
							  	<option value ="4">M站</option>
							  	<option value ="5">微信或后台</option>
							  	<option value ="-1">系统 </option>
							</select>
						</td>
					
					</tr>
					
					
					<tr height="5px;"></tr>
					<tr>
						<td width="70px;"><label>首投金额：</label></td>
						<td>
							<input type="text" class="formClass2" id="start_first_invest_amount" placeholder="首投金额"/>
						</td>
						<td>&nbsp;-&nbsp;</td>
						<td>
							<input type="text" class="formClass2" id="end_first_invest_amount" placeholder="首投金额"/>
						</td>
						
						<td width="100px;"><label>累计投资金额：</label></td>
						<td >
							<input type="text" class="formClass2" id="start_total_invest_amount" placeholder="累计投资金额"/>
						</td>
						<td>&nbsp;-&nbsp;</td>
						<td>
							<input type="text" class="formClass2" id="end_total_invest_amount" placeholder="累计投资金额"/>
						</td>
					
						<td><label>总资产：</label></td>
						<td>
							<input type="text" class="formClass2" id="start_total_money" placeholder="总资产"/>
						</td>
						<td>&nbsp;-&nbsp; </td>
						<td>
							<input type="text" class="formClass2" id="end_total_money" placeholder="总资产"/>
						</td>
						
					</tr>
					<tr height="5px;"></tr>
						<tr>
							<td><label>首投时间：</label></td>
							<td>
								<input type="text" class="formClass2 form_datetime_2" id="start_first_invest_time"  placeholder="请选择开始时间"/>
							</td>
							<td>&nbsp;-&nbsp; </td>
							<td>
								<input type="text" class="formClass2 form_datetime_2" id="end_first_invest_time"  placeholder="请选择结束时间"/>
							</td>
							
							<td><label>注册时间：</label></td>
							<td>
								<input type="text" class="formClass2 form_datetime_2" id="start_register_time"  placeholder="请选择开始时间"/>
							</td>
							<td>&nbsp;-&nbsp; </td>
							<td>
								<input type="text" class="formClass2 form_datetime_2" id="end_register_time"  placeholder="请选择结束时间"/>
							</td>
							<td><label>复投金额：</label></td>
							<td>
								<input type="text" class="formClass2" id="start_multi_invest_money" placeholder="复投金额"/>
							</td>
							<td>&nbsp;-&nbsp; </td>
							<td>
								<input type="text" class="formClass2" id="end_multi_invest_money" placeholder="复投金额"/>
							</td>
						</tr>
					<tr height="5px;"></tr>
					<tr>
						<td><label>渠道：</label></td>
						<td colspan="3">
							<select id="id_select" multiple="multiple" class=""></select>
						</td>
						<td width="70px;"><label>统计日期：</label></td>
						<td>
					         <input type="text" class="formClass2 form_datetime_2" id="stat_day">
						</td>
					</tr>
					
					<tr height="10px;"></tr>
				</table>
			#if($shiro.hasPermission("dmreportuseractivatedaily:delete"))
			<a class="btn btn-primary" @click="reload" id="query_cond"><i class="fa fa-search"></i>&nbsp;查询</a>
			#end
			<a class="btn btn-primary" id="btn_exports"><i class="fa fa-file-excel-o"></i>&nbsp;导出EXCEL</a>
			#if($shiro.hasPermission("schedulereporttask:addtask"))
			<button class="btn btn-primary" data-toggle="modal" onclick="openTaskWin();" data-target="#schedule_add_task">添加定时任务</button>
			#end
		</div>
	   <div style="text-align: right;">
	   		<table id="jqGrid"></table>
	   </div>
	   
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.userId" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.username" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.channelId" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.channelName" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.channelMark" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.registerTime" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.isRealname" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.isBinding" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.activateInvestTime" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.firstInvestTime" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.firstInvestBalance" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.firstInvestPeriod" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.afterInvestBalance" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.afterInvestNumber" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.totalInvestBalance" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.totalInvestNumber" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.changeInvestBalance" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dmReportUserActivateDaily.totalCapital" placeholder=""/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
	
	
	
		<!-- 模态框（Modal） -->
	<div class="modal fade" id="schedule_add_task" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel"><font style="font-weight: bold;">创建定时任务</font></h4>
				</div>
				<div class="modal-body" style="height: 320px;">
				
					<form class="form-horizontal" style="padding-top: 0px;line-height: -1.2">
						<div class="form-group" style="margin-bottom: 5px;">
							<label for="firstname" class="col-sm-2 control-label">任务名称：</label>
							<div class="col-sm-10">
								<input type="text" class="inputClass"  height="29" id="task_name" placeholder="任务名称">
							</div>
						</div>
						<div class="form-group" style="margin-bottom: 5px;">
							<label for="lastname" class="col-sm-2 control-label">发送方式：</label>
							<div class="col-sm-10">
								<select id="send_type" class="inputClassMin">
								  <option value ="email">邮件</option>
								</select>
							</div>
						</div>
						<div class="form-group" style="margin-bottom: 5px;">
							<label for="lastname" class="col-sm-2 control-label">调度频率：</label>
							<div class="col-sm-10">
								<div class="col-sm-10">
									<input style="margin-top: 10px;" name="Fruit" checked="checked" type="radio" value="time" />时间选择  
									<input style="margin-left: 50px;" name="Fruit" type="radio" value="crontab" />Crontab
									<input type="text" id="sendRate1" disabled="disabled"  style="margin-top: 10px;"  class="inputClass"  placeholder=""/>
			      					<input type="text" id="sendRate2" style="margin-top: 10px;display: none;" class="inputClass" value="* * * * * ?" placeholder="* * * * * ?"/>
								</div>
								<div class="col-sm-2">
									<input id="edit_btn_div" type="button" style="vertical-align: middle;margin-top: 7px;" class="btn btn-primary btn-info btn-xs" data-toggle="modal"  data-target="#crontable_win"  value="修改"/>
								</div>
<!-- 								<input type="text" class="inputClass"  height="29" id="send_rate" value="* * * * * ?" placeholder="* * * * * ?"> -->
							</div>
						</div>
						<div class="form-group" style="margin-bottom: 5px;">
							<label for="lastname" class="col-sm-2 control-label">收件人：</label>
							<div class="col-sm-10">
								<input type="text" class="inputClass"  height="29" id="receive_email" placeholder="收件人,多个收件人用逗号隔开">
							</div>
						</div>
						<div class="form-group" style="margin-bottom: 5px;">
							<label for="lastname" class="col-sm-2 control-label">抄送人：</label>
							<div class="col-sm-10">
								<input type="text" class="inputClass" height="29"  id="chaosong_email" placeholder="抄送人,多个抄送人用逗号隔开">
							</div>
						</div>
						<div class="form-group" style="margin-bottom: 5px;">
							<label for="lastname" class="col-sm-2 control-label">日期偏移：</label>
							<div class="col-sm-10">
								<input type="text" class="inputClassMin" id="date_offset_num" value="1" placeholder="1"/>
								<select id="date_offset" class="inputClassMin" >
									<option value ="day" selected="selected">天</option>
									<option value ="hour">小时</option>
								</select>
							</div>
						</div>
						<div class="form-group" style="margin-bottom: 5px;">
							<label for="lastname" class="col-sm-2 control-label">查询条件：</label>
							<div class="col-sm-10">
								<textarea class="areaClass2" disabled="disabled" id="query_params" rows="3"></textarea>
							</div>
						</div>
					</form>
									
				
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="addTask(5)">
						确定
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	
						<!-- 模态框（Modal） -->
	<div class="modal fade" id="crontable_win" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="margin: 10px;padding: 10px;">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel"><font style="font-weight: bold;">生成Crontab表达式</font></h4>
				</div>
				<div class="modal-body" style="height: 270px;margin: 2px;padding: 2px;">
					<table style="margin-left:  20px;">
						<tr >
							<input style="margin-top: 10px;"  onclick="selectType('one')" name="TimeSelect" checked="checked" type="radio" value="one" />一次
							<input style="margin-left: 50px;" onclick="selectType('hour')"  name="TimeSelect" type="radio" value="hour" />每小时
							<input style="margin-left: 50px;" onclick="selectType('day')"  name="TimeSelect" type="radio" value="day" />每天
							<input style="margin-left: 50px;" onclick="selectType('week')" name="TimeSelect" type="radio" value="week" />每周
							<input style="margin-left: 50px;" onclick="selectType('month')" name="TimeSelect" type="radio" value="month" />每月
							<br/>
<!-- 						</tr>					 -->
<!-- 						<tr> -->
							<div id="one_time_cond1" style="display: inline;">日期：<input type="text" class="formClass" id="one_time1"  placeholder="请选择执行时间"/></div>
							<div id="one_time_cond2" style="display: inline;display: none;">日期：<input type="text" class="formClass" id="one_time2"  placeholder="请选择执行时间"/></div>
							<input type="button" onclick="validateCron();" style="display: inline;" class="btn btn-primary btn-info btn-xs" value="验证一下"/>
							<div id="hour_cond" style="display: none">每隔：<input type="text" class="formClass" id="hour_cond_value" value="1"/> 小时执行一次</div>
							<div id="day_cond" style="display: none">每隔：<input type="text" class="formClass"  id="day_cond_value" value="1"/> 天执行一次</div>
<!-- 							<div id="week_cond" style="display: none">每隔：<input type="text" class="formClass" id="week_cond_value" value="1"/> 周执行一次</div> -->
							<div id="week_list_cond" style="display: none">
								<input type="checkbox" name="category" value="2" />星期一&nbsp;&nbsp;
								<input type="checkbox" name="category" value="3" />星期二&nbsp;&nbsp;
								<input type="checkbox" name="category" value="4" />星期三&nbsp;&nbsp;
								<input type="checkbox" name="category" value="5" />星期四&nbsp;&nbsp;
								<input type="checkbox" name="category" value="6" />星期五&nbsp;&nbsp;
								<input type="checkbox" name="category" value="7" />星期六&nbsp;&nbsp;
								<input type="checkbox" name="category" value="1" />星期日&nbsp;&nbsp;
							</div>	
							<div  id="month_cond" style="display: none"></div>
							<hr style="margin:1px;height:1px;border:1px;background-color:#D5D5D5;color:#D5D5D5;"/>
							<div>Crontab：[<font id="crontab_text" color="red"></font>]&nbsp;最近5次运行时间:</div>
							<div id="last_five_time"></div>				
						</tr>
					</table>
				</div>
				<div class="modal-footer" style="margin: 5px;padding: 5px;">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="setCrontabValue()">
						确定
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	
	
	
</div>
<link rel="stylesheet" href="${rc.contextPath}/js/schedule/taskwin.css"></link>
<script src="${rc.contextPath}/js/schedule/addtask.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/js/sys/util.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/js/channel/userActiveInfo.js?_${date.systemTime}"></script>
</body>
</html>